# Pandas

In [4]:
import pandas as pd

## Creation of series

## Indexing rows of series

## Creation of dataframes

## Accessing columns of a dataframe. Results in
* a series
* a dataframe with n columns (n=0,1,2,...)

## Other indexing and data selection

## Summary statistics (tässä vai numpy:ssä)

## Missing data

## Catenating datasets

In [2]:
def makedf(cols, ind):
    data = {c : [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)

In [20]:
x=makedf("AB", [0,1])
y=makedf("CD", [0,1])
a=makedf("AB", [0,1])
b=makedf("AB", [2,3])

In [21]:
x

    A   B
0  A0  B0
1  A1  B1

In [22]:
y

    C   D
0  C0  D0
1  C1  D1

In [24]:
pd.concat([a,b])

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [25]:
pd.concat([x,y], axis=1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

## Merging dataframes

## Aggregates and groupings

## Time series